{% extends 'front/index.html' %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div style="margin-left: 20px; margin-top: 30px; ">
                <h4> Team Members</h4>
                <div>
                    <div class="row" style="margin-top: 30px">
                        <div class="col-md-9">
                            <h6>Name: Guangle Zhang</h6>
                            <h6>Email: 2015201006@njau.edu.cn</h6>
                            <h6>Address: Department of Mathematics, College of Science, Nanjing Agricultural University,
                                Nanjing, Jiangsu, People's Republic of China.</h6>
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-md-9">
                            <h6>Name: Cong Pian</h6>
                            <h6>Email: piancong@zju.edu.cn</h6>
                            <h6>Address: Institute of Insect sciences, Zhejiang University, Hangzhou, Zhejiang, People's
                                Republic of China.</h6>
                        </div>
                    </div>
                </div>
                <hr>
                <!--
                <div style="margin-bottom: 30px;">
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-md-9">
                            <h6>Name: Liangyun Zhang</h6>
                            <h6>Email: zlyun@njau.edu.cn</h6>
                            <h6>Address: Department of Mathematics, College of Science, Nanjing Agricultural University,
                                Nanjing, Jiangsu, People's Republic of China.</h6>
                        </div>
                    </div>
                </div>
                <hr>
                -->
                <div style="margin-bottom: 30px;">
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-md-9">
                            <h6>Name: Fei Li</h6>
                            <h6>Email: lifei18@zju.edu.cn </h6>
                            <h6>Address: Institute of Insect sciences, Zhejiang University, Hangzhou, Zhejiang, People's
                                Republic of China.</h6>
                        </div>
                    </div>
                </div>
                <hr>

                <div>
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-md-9">
                            <h6>Name: Tengfei Tu</h6>
                            <h6>Email: tutengfei.kevin@bupt.edu.cn</h6>
                            <h6>Address: Network Security Research Group of State Key Laboratory Of Networking And
                                Switching
                                Technology,
                                Beijing University Of Posts and Telecommunications, Beijing, China.</h6>
                            <h6>HomePage: <a href="https://tutengfei.github.io/" target="_blank">Click me!</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
