{% extends 'front/index.html' %}

{% block title %}
    Browse
{% endblock %}

{% block content %}
    <div id="main">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-7">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 well no-padding" style="height: 700px; margin-left: 18px; overflow-y: auto;">
                <ul class="nav nav-list nav-menu-list-style">
                    <li><label class="tree-toggle nav-header glyphicon-icon-rpad">
                        <span class="glyphicon glyphicon-folder-close m5"></span> MiRCancer
                        <span class="menu-collapsible-icon glyphicon glyphicon-chevron-down"></span></label>
                        <ul class="nav nav-list tree bullets">
                            <li><label class="tree-toggle nav-header">miRNA</label>
                                <ul class="nav nav-list tree">
                                    {% for rna in mirnas %}
                                        <li><a href="/front/browse/?mirna={{ rna }}">{{ rna }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav nav-list tree bullets">
                            <li><label class="tree-toggle nav-header">Cancer</label>
                                <ul class="nav nav-list tree">
                                    {% for cancer in cancers %}
                                        <li><a href="/front/browse/?cancer={{ cancer }}">{{ cancer }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-8" style="height: 700px; overflow-y: auto;">
                {% if data|length > 0  %}
                    <div class="row">
                        <div class="col-md-11">
                            <h4>Cancer name: <span style="color: red">{{ request.GET.cancer }}</span> </h4>
                        </div>
                    </div>
                    <table class="table table-bordered table-responsive table-hover">
                        <thead>
                            <tr>
                                <td>miRNA Name</td>
                                <td>miRBase Information</td>
                                <td>PMID or Related Information</td>
                                <td>Details</td>
                            </tr>
                        </thead>
                        {% for d in data %}
                        <tr>
                            <td style="min-width: 150px;">{{ d.rna }}</td>
                            <td><a href="{{ d.url }}" target="_blank">miRBase</a></td>
                            <td><a href="{{ d.pmid_url }}">{{ d.PMID }}</a></td>
                            <td>{{ d.details }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
        $(document).ready(function () {
            $('.tree-toggle').click(function () {
                $(this).parent().children('ul.tree').toggle(200);
            });
            $(function () {
                $('.tree-toggle').parent().children('ul.tree').toggle(200);
            });
        });
    </script>
{% endblock %}

