{% extends 'front/index.html' %}

{% block title %}
    kegg
{% endblock %}

{% block content %}
    <div id="main">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-7">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 well no-padding" style="height: 700px; margin-left: 18px; overflow-y: auto;">
                <ul class="nav nav-list nav-menu-list-style">
                    <li><label class="tree-toggle nav-header glyphicon-icon-rpad">
                        <span class="glyphicon glyphicon-folder-close m5"></span> KEGG
                        <span class="menu-collapsible-icon glyphicon glyphicon-chevron-down"></span></label>
                        <ul class="nav nav-list tree bullets">
                            <li><label class="tree-toggle nav-header">Cancer</label>
                                <ul class="nav nav-list tree">
                                    {% for cancer in cancers %}
                                        <li><a href="/front/kegg/?id={{ forloop.counter }}">{{ cancer }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-8" style="height: 700px; overflow-y: auto;">
                <div class="row">
                    {% if cancer %}
                    <div class="col-md-12">
                        <h5>Cancer name: <span style="color: red">{{ cancer }}</span></h5>
                        <p>{{ cancer_desc }}</p>
                    </div>
                    <div class="col-md-12">
                        <img id="cancer_img" class="img-thumbnail" style="width: 700px; height: 700px;"
                             src="{{ image_src }}"
                             data-high-res-src="{{ image_src }}">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
        $(document).ready(function () {
            $('.tree-toggle').click(function () {
                $(this).parent().children('ul.tree').toggle(200);
            });
            $(function () {
                $('.tree-toggle').parent().children('ul.tree').toggle(200);

                var viewer = ImageViewer();
                $('#cancer_img').click(function () {
                    var imgSrc = this.src,
                        highResolutionImage = $(this).data('high-res-img');
             
                    viewer.show(imgSrc, highResolutionImage);
                });
            });


        });
    </script>
{% endblock %}
