{% extends 'front/index.html' %}
{% block title %}
    Links
{% endblock %}

{% block content %}
    <div id="main">
        <div class="row">
            <div class="col-md-11" style="margin-left: 10px;">
                <h2>Links</h2>
            </div>
        </div>
        <div class="row" id="links">
            <div class="col-md-12">
                <a href="http://www.mirbase.org/">miRBase</a>
                <span>: Comprehensive database for providing miRNA sequences, annotation information, target genes predicted
                and other information.</span>
            </div>
            <div class="col-md-12">
                <a href="http://www.noncode.org/index.php">NONCODE</a>
                <span>: A noncoding RNAs database (excluding tRNAs and rRNAs).</span>
            </div>
            <div class="col-md-12">
                <a href="http://biobases.ibch.poznan.pl/ncRNA/">Noncoding RNA database</a>
                <span>: A database that provide information about functions and sequence of non coding transcripts.</span>
            </div>
            <div class="col-md-12">
                <a href="http://www.cuilab.cn/hmdd">HMDD</a>
                <span>: Provide the verified human microRNA and disease associations.</span>
            </div>
            <div class="col-md-12">
                <a href="http://www.mir2disease.org/">miR2Disease</a>
                <span>: A database for providing miRNA deregulation in distinct human diseases.</span>
            </div>
            <div class="col-md-12">
                <a href="http://www.picb.ac.cn/dbDEMC/index.html">dbDEMC 2.0</a>
                <span>: Differentially expressed miRNAs in human cancers.</span>
            </div>
            <div class="col-md-12">
                <a href="https://www.nlm.nih.gov/mesh/MBrowser.html">MeSH Browser</a>
                <span>: An authoritative medical vocabulary is curated by National Library of Medicine(NLM).</span>
            </div>
            <div class="col-md-12">
                <a href="http://www.omim.org/">OMIM</a>
                <span>: An online catalog of human genes and genetic disorders. </span>
            </div>

            <div class="col-md-12">
                <a href="http://genome.ucsc.edu">UCSC Genome Browser</a>
                <span>: The site contains a sketch of the genomes of humans, mice, rats and so on.</span>
            </div>
            <div class="col-md-12">
                <a href="http://www.targetscan.org">TargetScanHuman</a>
                <span>: The tool for predicting miRNA targets. </span>
            </div>
            <div class="col-md-12">
                <a href="https://www.ncbi.nlm.nih.gov/gene">NCBI Gene</a>
            </div>
            <div class="col-md-12">
                <a href="https://www.ncbi.nlm.nih.gov/pubmed">PubMed</a>
            </div>
        </div>
    </div>
{% endblock %}
