{% extends 'front/index.html' %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="post-preview">

                <p class="post-meta">
                    Users Can download the experimentally supported lncRNA-miRNA-miRNA associations data
                    in the LncCeRBase download page.</br>
                    The experimentally supported lncRNA-miRNA-miRNA associations data(<a
                        href="/front/download">excel</a>).</br>
                </p>

            </div>
            <hr>
        </div>
    </div>
    {#    <div style="margin-top: 80px;">#}
    {#    </div>#}
    <hr style="margin-top: 50px;">
{% endblock %}
