{% extends 'front/index.html' %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="post-preview">
                <p class="post-meta">
                    <a href="http://bis.zju.edu.cn/pcernadb/index.jsp"
                       target="_blank"
                    >PceRBase: a database of plant competing endogenous RNA.</a> </br>

                    <a href="http://www.bio-bigdata.net/miRSponge/" target="_blank"
                    >miRSponge: a manually curated database for experimentally supported miRNA sponges and
                        ceRNAs.</a> </br>

                    <a href="https://www.ncbi.nlm.nih.gov/pubmed/24926662" target="_blank"
                    >lnCeDB: database of human long noncoding RNA acting as competing endogenous RNA.</a> </br>

                    <a href="http://rnacentral.org/" target="_blank"
                    >RNAcentral: the non-coding RNA sequence database.</a> </br>

                    <a href="http://www.mirbase.org/index.shtml" target="_blank"
                    >miRBase: the microRNA database.</a> </br>

                    <a href="https://www.ncbi.nlm.nih.gov/gene" target="_blank"
                    >NCBI Gene: database for providing the information about genes.</a>
                </p>
            </div>
            <hr>
        </div>
    </div>
    <hr style="margin-top: 50px;">
{% endblock %}



