{% extends 'front/index.html' %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="post-preview">
                <p class="post-meta">
                    <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=PceRBase%3A+a+database+of+plant+competing+endogenous+RNA"
                       target="_blank"
                    >PceRBase: a database of plant competing endogenous RNA.</a> </br>

                    <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=miRSponge+a+manually" target="_blank"
                    >miRSponge: a manually curated database for experimentally supported miRNA sponges and
                        ceRNAs.</a> </br>

                    <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=LnCeDB" target="_blank"
                    >lnCeDB: database of human long noncoding RNA acting as competing endogenous RNA.</a>
                </p>
            </div>
            <hr>
        </div>
    </div>
    <hr style="margin-top: 50px;">
{% endblock %}



