#mainNav {
    background-color: white;
    border-bottom: 1px solid #eeeeee;
    position: absolute;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
    color: #777777;
    font-weight: 800;
}

#mainNav .navbar-toggler {
    color: #777777;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    padding: 13px;
}

#mainNav .navbar-nav > li.nav-item > a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
}

@media only screen and (min-width: 992px) {
    #mainNav {
        background: transparent;
        border-bottom: 1px solid transparent;
    }

    #mainNav .navbar-brand {
        color: white;
        padding: 20px;
    }

    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
        color: rgba(255, 255, 255, 0.8);
    }

    #mainNav .navbar-nav > li.nav-item > a {
        color: white;
        padding: 20px;
    }

    #mainNav .navbar-nav > li.nav-item > a:hover, #mainNav .navbar-nav > li.nav-item > a:focus {
        color: rgba(255, 255, 255, 0.8);
    }
}

@media only screen and (min-width: 1170px) {
    #mainNav {
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        transition: background-color 0.2s;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    #mainNav.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -87px;
        background-color: rgba(255, 255, 255, 0.9);
        border-bottom: 1px solid white;
        -webkit-transition: -webkit-transform 0.2s;
        -moz-transition: -moz-transform 0.2s;
        transition: transform 0.2s;
    }

    #mainNav.is-fixed .navbar-brand {
        color: #333333;
    }

    #mainNav.is-fixed .navbar-brand:hover, #mainNav.is-fixed .navbar-brand:focus {
        color: #0085A1;
    }

    #mainNav.is-fixed .navbar-nav > li.nav-item > a {
        color: #333333;
    }

    #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover, #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus {
        color: #0085A1;
    }

    #mainNav.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}


#header_background {
    background-image: url('/static/front/img/bg2.jpg');
    max-height: 300px;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
